@model CMS.Web.Areas.Admin.ViewModels.HomeIndexViewModel
@{ ViewData["title"] = "Dashboard"; }

<div class="page-body">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="databox bg-white radius-bordered">
                        <div class="databox-left bg-themesecondary">
                            <div class="databox-piechart">
                                <div data-toggle="easypiechart" class="easyPieChart" data-barcolor="#fff" data-linecap="butt" data-percent="50" data-animate="500" data-linewidth="3" data-size="47" data-trackcolor="rgba(255,255,255,0.1)"><span class="white font-90">@Model.active_appointment_count </span></div>
                            </div>
                        </div>
                        <div class="databox-right">
                            <span class="databox-number themesecondary">@Model.active_order_count</span>
                            <div class="databox-text darkgray"><a href="/admin/order">Order Pending</a></div>
                            <div class="databox-stat themesecondary radius-bordered">
                                <i class="stat-icon icon-lg fa fa-tasks"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="databox bg-white radius-bordered">
                        <div class="databox-left bg-themethirdcolor">
                            <div class="databox-piechart">
                                <div data-toggle="easypiechart" class="easyPieChart" data-barcolor="#fff" data-linecap="butt" data-percent="15" data-animate="500" data-linewidth="3" data-size="47" data-trackcolor="rgba(255,255,255,0.2)"><span class="white font-90">@Model.active_notices_count</span></div>
                            </div>
                        </div>
                        <div class="databox-right">
                            <span class="databox-number themethirdcolor">@Model.active_order_count1</span>
                            <div class="databox-text darkgray"><a href="/admin/order">Completed Order</a></div>
                            <div class="databox-stat themethirdcolor radius-bordered">
                                <i class="stat-icon  icon-lg fa fa-envelope-o"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="databox bg-white radius-bordered">
                        <div class="databox-left bg-themeprimary">
                            <div class="databox-piechart">
                                <div id="users-pie" data-toggle="easypiechart" class="easyPieChart" data-barcolor="#fff" data-linecap="butt" data-percent="76" data-animate="500" data-linewidth="3" data-size="47" data-trackcolor="rgba(255,255,255,0.1)"><span class="white font-90">@Model.active_products_count</span></div>
                            </div>
                        </div>
                        <div class="databox-right">
                            <span class="databox-number themeprimary">@Model.active_menu_count</span>
                            <div class="databox-text darkgray">Active Item</div>
                            <div class="databox-state bg-themeprimary">
                                <i class="fa fa-check"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="databox bg-white radius-bordered">
                        <div class="databox-left bg-themeprimary">
                            <div class="databox-piechart">
                                <div id="users-pie" data-toggle="easypiechart" class="easyPieChart" data-barcolor="#fff" data-linecap="butt" data-percent="76" data-animate="500" data-linewidth="3" data-size="47" data-trackcolor="rgba(255,255,255,0.1)"><span class="white font-90">@Model.pages_count</span></div>
                            </div>
                        </div>
                        <div class="databox-right">
                            <span class="databox-number themeprimary">@Model.pages_count</span>
                            <div class="databox-text darkgray">Pages</div>
                            <div class="databox-state bg-themeprimary">
                                <i class="fa fa-check"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-md-12">
            <div class="page-body" style="background-color:white; box-sizing: content-box;width: 1050px;height: 480px;padding: 5px;border: 1px solid  #87ceeb;">
                <div class="profile-container">

                    <div class="profile-body">
                        <div class="col-lg-12">
                            <div class="tabbable">


                                <div id="contacts" class="tab-pane">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="profile-contacts">

                                                <div class="profile-badge orange"><i class="fa fa-phone orange"></i><span>Contacts</span></div>
                                                <div class="contact-info">
                                                    <p>
                                                        Phone   : 023-5436783
                                                    </p>
                                                    <p>
                                                        Email       : hotelannapurna@gmail.com
                                                    </p>
                                                    <p>
                                                        Facebook    :<a target="_blank" href="//facebook.com/lespl">www.facebook.com/hotelannapurna</a>
                                                    </p>
                                                    <p>
                                                        Office Hours : 10 AM to 5 PM (Except National Holidays)
                                                        <br>
                                                    </p>
                                                </div>
                                                <div class="profile-badge azure">
                                                    <i class="fa fa-map-marker azure"></i><span>Location</span>
                                                </div>
                                                <div class="contact-info">
                                                    <p>
                                                        Address<br>
                                                        Kathmandu <br>
                                                        Naya Baneswor<br>
                                                        Timsina Complex
                                                    </p>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <img src="~/img/images.png" alt="hotelannapurna" style="margin-top:50px;width:400px;border-radius: 0%;" />
                                            <br />
                                            <br />
                                            <br />
                                            <br />
                                            <br />
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


