@model RoleIndexViewModel
@{
    ViewData["Title"] = "Roles";

    var list = new List<SelectListItem>() {
new SelectListItem { Text = "10", Value = "10"},
new SelectListItem { Text = "20", Value = "20" },
new SelectListItem { Text = "30", Value = "30" },
new SelectListItem { Text = "40", Value = "40"},
new SelectListItem { Text = "50", Value = "50" }
};
}
<div class="page-breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="/admin">Home</a>
        </li>

        <li class="active">Role</li>
    </ul>
</div>

<div class="page-body">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="widget">


                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <div class="widget">
                            <div class="widget-header ">
                                <span class="widget-caption">Role</span>
                                <div class="widget-buttons">
                                    <a href="tables-data.html#" data-toggle="maximize">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                    <a href="tables-data.html#" data-toggle="collapse">
                                        <i class="fa fa-minus"></i>
                                    </a>
                                    <a href="tables-data.html#" data-toggle="dispose">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="widget-body">
                                <a href="/user-management/role/new" class="btn btn-icon waves-effect waves-light btn-success btn-sm"><i class="fa fa-plus"></i> Add New Role</a>

                                <div class="table-toolbar">
                                    <form action="/user-management/role" method="get" class="row col-sm-push">

                                        <div class="col-sm-6">
                                            @Html.TextBox("title", (string)ViewBag.title, new { @class = "form-control no-padding", placeholder = "Title" })
                                        </div>
                                        <div class="col-sm-3">
                                            @Html.DropDownList("number_of_rows", list, new { @class = "form-control pull-right" })
                                        </div>
                                        <div class="col-sm-3">
                                            <button type="submit" class="btn btn-primary waves-effect w-md waves-light" style="margin-left:5px;">Load <i class="fa fa-spinner "></i></button>
                                        </div>
                                    </form>
                                </div>
                                <table class="table table-striped table-hover table-bordered" id="editabledatatable">
                                    <thead>
                                        <tr role="row">
                                            <th>SN</th>
                                            <th>Name</th>
                                            <th>Permissions</th>
                                            <th>Status</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @{ int sn = 1;
                                            foreach (var role in Model.role_details)
                                            {
                                                <tr>
                                                    <td>@sn</td>
                                                    <td>@role.name</td>
                                                    <td>
                                                        @{
                                                            string permissions = string.Join(",", role.permissions);
                                                        }
                                                        @permissions
                                                    </td>
                                                    <td>
                                                        <p>
                                                            @{
                                                                var status = role.is_active ? "Enabled" : "Disabled";
                                                                <text>@status</text>

                                                            }
                                                        </p>
                                                    </td>
                                                    <td>
                                                        <div class="btn-group">
                                                            <a class="btn btn-primary " href="javascript:void(0);">Actions</a>
                                                            <a class="btn btn-primary  dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);" aria-expanded="false"><i class="fa fa-angle-down"></i></a>
                                                            <ul class="dropdown-menu dropdown-primary">
                                                                <li>
                                                                    <a href="/user-management/role/edit/@role.role_id">Edit</a>
                                                                </li>
                                                                <li>
                                                                    <a href="/user-management/role/delete/@role.role_id" class="delete">Delete</a>
                                                                </li>
                                                                <li class="divider"></li>
                                                                <li>
                                                                    @{
                                                                        if (role.is_active)
                                                                        {
                                                                            <a href="/user-management/role/disable/@role.role_id">Disable</a>
                                                                        }
                                                                        else
                                                                        {
                                                                            <a href="/user-management/role/enable/@role.role_id">Enable</a>
                                                                        }
                                                                    }
                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                                sn++;
                                            }
                                        }
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $('.delete').on('click', function () {
            if (!confirm("Are you sure to delete?")) {
                event.preventDefault();
            }
        });
    </script>
}
