@model CMS.Web.Models.BlogsModel
@{
    var blog = Model;
    blog.description = System.Web.HttpUtility.HtmlDecode(blog.description);
    ViewData["Title"] = blog.title;

}


<section>
    <div class="bredcrumb-section padTB100 positionR">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="theme-heading text-center">
                        <h3 class="Breadcrumb-title text-center">blog</h3>
                        <span class="colorW marB10"> <i class="fa fa-angle-down" aria-hidden="true"></i> </span>
                    </div>
                    <div class="breadcrumb-box">
                        <ul class="breadcrumb text-center colorW marB0">
                            <li>
                                <a href="/">home</a>
                            </li>
                            <li>@blog.title</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//================Breadcrumb end==============//-->
<div class="clear"></div>
<!--//================Blogs starts==============//-->
<section class="padT100 padB100">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="blog-img marB30">
                    <figure>
                        @{
                            var imgSrc = "/images/";
                            if (string.IsNullOrWhiteSpace(blog.image_name))
                            {
                                imgSrc += "default-image.jpg";
                            }
                            else
                            {
                                imgSrc += "custom/" + blog.image_name;
                            }
                        }
                        <img src="@imgSrc" alt="" />
                    </figure>
                </div>
                <div class="blog-detail marB50">
                    <h4 class="colorB marB10 title text-left"><a href="">@blog.title</a></h4>
                    <p class="marB10 text-left">
                        <a href="#"><span class="marR10"><i class="fa fa-calendar marR5" aria-hidden="true"></i>@blog.posted_on.ToString("dddd, dd MMMM yyyy")</span></a>
                        <a href="#"><span class="marR10"><i class="fa fa-comment marR5" aria-hidden="true"></i>Artical By : @blog.artical_by.ToUpperInvariant()</span></a>
                    </p>
                    <p class="marB20 text-left">
                        @Html.Raw(System.Web.HttpUtility.HtmlDecode(blog.description))

                </div>
                <h4 class="title marB30">ALL Comments</h4>
                <div class="comment-list marB30">
                    @{ foreach (var blogsComment in blog.blog_comments)
                        {
                            <div class="comment-box marB30">
                                <div class="row">
                                    <div class="col-md-2 col-sm-3 col-xs-4">
                                        <figure>
                                            <img src="~/clientside/images/default/comment.jpg" alt="" class="img-circle">
                                        </figure>
                                    </div>
                                    <div class="col-md-10 col-sm-9 text-left">
                                        <h4 class="theme-color">@blogsComment.comment_by.ToUpperInvariant() <span class="colorG marL5"> @blogsComment.comment_date.ToString("dd MMMM yyyy")</span></h4>
                                        <p>
                                            @blogsComment.comments
                                        </p>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
                <div class="clear"></div>
                <div class="comment-review">
                    <h4 class="marB30 text-left title">Post A Comment</h4>
                    <div class="row">
                        <form action="/blog/send-blogcontact" method="post">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            <div class="col-md-4 col-sm-4 col-xs-12 marB30">
                                @Html.HiddenFor(a => a.blog_id)

                                @Html.LabelFor(a => a.comment_by, new { @class = "sr-only" })
                                @Html.TextBoxFor(a => a.comment_by, new { @class = "form-control flat", required = "required", placeholder = "Your Name" })
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 marB30">
                                @Html.LabelFor(a => a.email, new { @class = "sr-only" })
                                @Html.TextBoxFor(a => a.email, new { @class = "form-control flat", required = "required", placeholder = "Your E-mail" })
                            </div>

                            <div class="col-md-12 col-sm-12 col-xs-12 marB20">
                                @Html.LabelFor(a => a.comments, new { @class = "sr-only" })

                                @Html.TextAreaFor(a => a.comments, new { @class = "form-control flat", rows = "8", required = "required", placeholder = "Comment" })
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <button type="submit" class="itg-button">Post comment</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>