@model FileUploadIndexViewModel;
@{
    ViewData["Title"] = "File Upload";

    var list = new List<SelectListItem>() {
new SelectListItem { Text = "10", Value = "10"},
new SelectListItem { Text = "20", Value = "20" },
new SelectListItem { Text = "30", Value = "30" },
new SelectListItem { Text = "40", Value = "40"},
new SelectListItem { Text = "50", Value = "50" }
};
}

<div class="page-breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="/admin">Home</a>
        </li>

        <li class="active">File</li>
    </ul>
</div>
<div class="page-body">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="widget">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <div class="widget">
                            <div class="widget-header ">
                                <span class="widget-caption">View File</span>
                                <div class="widget-buttons">
                                    <a href="tables-data.html#" data-toggle="maximize">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                    <a href="tables-data.html#" data-toggle="collapse">
                                        <i class="fa fa-minus"></i>
                                    </a>
                                    <a href="tables-data.html#" data-toggle="dispose">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="widget-body">
                                <a href="/admin/file-upload/new" class="btn btn-icon waves-effect waves-light btn-success btn-sm"><i class="fa fa-plus"></i> Add File</a>

                                <div class="table-toolbar">
                                    <form action="/admin/file-upload" method="get" class="row col-sm-push">

                                        <div class="col-sm-6">
                                            @Html.TextBox("title", "", new { @class = "form-control no-padding", placeholder = "File Name" })
                                        </div>
                                        <div class="col-sm-3">
                                            @Html.DropDownList("number_of_rows", list, new { @class = "form-control pull-right" })
                                        </div>
                                        <div class="col-sm-3">
                                            <button type="submit" class="btn btn-primary waves-effect w-md waves-light" style="margin-left:5px;">Load <i class="fa fa-spinner "></i></button>
                                        </div>
                                    </form>
                                </div>
                                <table class="table table-striped table-hover table-bordered" id="editabledatatable">
                                    <thead>
                                        <tr role="row">
                                            <th>#</th>
                                            <th>File Name</th>
                                            <th>File</th>
                                            <th>Status</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @{ var sn = 1;
                                            foreach (var fileUpload in Model.file_upload_details)
                                            {
                                                <tr>
                                                    <td>@sn</td>
                                                    <td>@fileUpload.title</td>
                                                    <td><img src="@getImage(fileUpload.file_name)" width="60" height="60"></td>
                                                    <td>
                                                        @{
                                                            if (fileUpload.is_enabled)
                                                            {
                                                                <text>Enabled</text>
                                                            }
                                                            else
                                                            {
                                                                <text>Disabled</text>
                                                            }

                                                        }
                                                    </td>
                                                    <td>




                                                        <div class="btn-group">
                                                            <a class="btn btn-primary " href="javascript:void(0);">Actions</a>
                                                            <a class="btn btn-primary  dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);" aria-expanded="false"><i class="fa fa-angle-down"></i></a>
                                                            <ul class="dropdown-menu dropdown-primary">
                                                                <li>
                                                                    <a href="/admin/file-upload/edit/@fileUpload.file_upload_id">Edit</a>
                                                                </li>
                                                                <li>
                                                                    <a href="/admin/file-upload/delete/@fileUpload.file_upload_id"class="delete">Delete</a>
                                                                </li>
                                                                <li class="divider"></li>
                                                                <li>
                                                                    @{
                                                                        if (fileUpload.is_enabled)
                                                                        {
                                                                            <a href="/admin/file-upload/disable/@fileUpload.file_upload_id">Disable</a>
                                                                        }
                                                                        else
                                                                        {
                                                                            <a href="/admin/file-upload/enable/@fileUpload.file_upload_id">Enable</a>
                                                                        }
                                                                    }
                                                                    <a target="_blank" href="~/images/custom/@fileUpload.file_name">Open file</a>

                                                                </li>
                                                            </ul>
                                                        </div>

                                                    </td>
                                                </tr>
                                                sn++;
                                            }
                                        }

                                    </tbody>
                                </table>
                                <LeadingEdgePager info="@ViewBag.pagerInfo"></LeadingEdgePager>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@{
    string getImage(string file_name)
    {
        var extension = System.IO.Path.GetExtension(file_name).ToLower();

        var imageFormats = new[] { ".jpeg", ".png", ".jpg" };

        var docFormats = new[] { ".xls", ".xlsx" };

        var pdfFormats = new[] { ".pdf" };

        var powerPointFormats = new[] { ".ppt", ".pptx" };

        if (imageFormats.Contains(extension))
        {
            return "/images/custom/" + file_name;
        }

        if (docFormats.Contains(extension))
        {
            return "/images/doc.png";
        }

        if (pdfFormats.Contains(extension))
        {
            return "/images/pdf.png";
        }

        return "/images/ppt.png";
    }
}
@section scripts{
    <script>
        $('.delete').on('click', function () {
            if (!confirm("Are you sure to delete?")) {
                event.preventDefault();
            }
        });
    </script>
}