@model CMS.Core.Dto.TestimonialDto
@{
    ViewData["Title"] = "Update Testimonial";
}
<div class="page-breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="/admin">Home</a>
        </li>
        <li>
           Update Testimonial
        </li>
    </ul>
</div>
<div class="page-body">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-10 col-sm-10 col-xs-10">
                    <div class="widget radius-bordered">
                        <div class="widget-header">
                            <span class="widget-caption">UPDATE TESTIMONIAL</span>
                        </div>
                        <div class="widget-body">
                            <form class="form-horizontal" method="post" enctype="multipart/form-data" action="/admin/testimonial/edit">

                                @Html.ValidationSummary(true)

                                @Html.AntiForgeryToken()


                                @Html.HiddenFor(a => a.testimonial_id)
                                <div class="form-group row">
                                    @Html.LabelFor(a => a.person_name, new { @class = "col-md-2 control-label asterik" })
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(a => a.person_name, new { @class = "form-control" })
                                        <p class="text-danger">@Html.ValidationMessageFor(a => a.person_name)</p>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    @Html.LabelFor(a => a.associated_company_name, new { @class = "col-md-2 control-label asterik" })
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(a => a.associated_company_name, new { @class = "form-control" })
                                        <p class="text-danger">@Html.ValidationMessageFor(a => a.associated_company_name)</p>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    @Html.LabelFor(a => a.designation, new { @class = "col-md-2 control-label asterik" })
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(a => a.designation, new { @class = "form-control" })
                                        <p class="text-danger">@Html.ValidationMessageFor(a => a.designation)</p>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    @Html.LabelFor(a => a.statement, new { @class = "col-md-2 control-label asterik" })
                                    <div class="col-md-8">
                                        @Html.TextAreaFor(a => a.statement, new { @class = "form-control", @rows = "10" })
                                        <p class="text-danger">@Html.ValidationMessageFor(a => a.statement)</p>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    @Html.LabelFor(a => a.image_name, new { @class = "col-md-2 control-label" })
                                    <div class="col-md-8">
                                        <input type="file" value="Choose File" class="form-control" name="file" id="file" />
                                        <p class="text-danger">@Html.ValidationMessageFor(a => a.image_name)</p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-8">
                                        <input class="btn btn-palegreen btn-lg pull-right" type="submit" value="Update" style="background-color:#2dc3e8" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2  images-list" id="previewImg">
                    <img id="image" class="image-preview" src="~/images/custom/@Model.image_name" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .image-preview {
        height: 150px;
        width: 140px;
        float: right;
    }
</style>

@section scripts{
    <script>

        $("#file").change(function () {
            readURL(this);
        });
        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#image').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

    </script>
}

