@model CMS.Core.Dto.BlogCommentDto;

@{
    ViewData["Title"] = "Update Blog Comment";
}
<div class="page-breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="/admin">Home</a>
        </li>
        <li>
            Update Blog Comment
        </li>
    </ul>
</div>

<div class="page-body">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-6 col-sm-6 col-xs-12">
                    <div class="widget radius-bordered">
                        <div class="widget-header">
                            <span class="widget-caption">UPDATE BLOG COMMENT</span>
                        </div>
                        <div class="widget-body">
                            <form class="form-horizontal" method="post" enctype="multipart/form-data" action="/admin/blog/blogCommentEdit">

                                @Html.ValidationSummary(true)

                                @Html.AntiForgeryToken()

                                @Html.HiddenFor(a => a.blog_comment_id)

                                @Html.HiddenFor(a => a.blog_id)

                                <div class="form-group row">
                                    @Html.LabelFor(a => a.comment_by, new { @class = "col-md-3 control-label" })

                                    <div class="col-md-9">
                                        @Html.TextBoxFor(a => a.comment_by, new { @class = "form-control" })

                                    </div>

                                    <p class="text-danger">@Html.ValidationMessageFor(a => a.comment_by)</p>
                                </div>

                                <div class="form-group row">
                                    @Html.LabelFor(a => a.comments, new { @class = "col-md-3 control-label" })

                                    <div class="col-md-9">
                                        @Html.TextAreaFor(a => a.comments, new { @class = "form-control" })

                                    </div>

                                    <p class="text-danger">@Html.ValidationMessageFor(a => a.comments)</p>
                                </div>




                                <div class="form-group row">
                                    @Html.LabelFor(a => a.email, new { @class = "col-md-3 control-label" })

                                    <div class="col-md-9">
                                        @Html.TextBoxFor(a => a.email, new { @class = "form-control" })
                                    </div>

                                    <p class="text-danger">@Html.ValidationMessageFor(a => a.email)</p>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input class="btn btn-palegreen pull-right" type="submit" value="Update Comment" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
</div>
<style>
    .image-preview {
        height: 150px;
        width: 140px;
        float: right;
    }
</style>
@section scripts{
    <script>

            $("#file").change(function () {
                readURL(this);
            });
            function readURL(input) {

                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#image').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }

    </script>
}

